<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">

    <form action="/url/check" method="post" >
        <div class="form-group">
            <label for="password"></label>
            <input type="hidden" name="id">
            <input type="password" id ="password" name="password" placeholder="패스워드를 입력하세요">
        </div>
        <button type="submit">전송</button>
    </form>

</div>
</body>
</html>