<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" style="
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
">

    <form action="/url/check" method="post" >
        <div class="form-group">
            <label for="password"></label>
            <input th:value="${id}" type="hidden" name="id">
            <input style="margin-right: 10px;" type="password" id ="password" name="password" placeholder="패스워드를 입력하세요">
            <button type="submit">전송</button>
        </div>

    </form>

</div>
</body>
</html>